/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  overflow-x: hidden;
}

/* Header */
header {
  background-color: #212121;
  color: #fff;
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

nav h1 {
  font-size: 1.5rem;
}

.button {
  position: relative;
  border: none;
  background: transparent;
  --stroke-color: #ffffff7c;
  --ani-color: rgba(95, 3, 244, 0);
  --color-gar: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  letter-spacing: 3px;
  font-size: 2em;
  font-family: "Arial";
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--stroke-color);
  cursor: pointer;
  top: 5dvh;
}

.front-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  background: var(--color-gar);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  overflow: hidden;
  transition: all 1s;
  animation: 8s ani infinite;
  border-bottom: 2px solid transparent;
}

.button:hover .front-text {
  width: 100%;
  border-bottom: 2px solid #03a9f4;
  -webkit-text-stroke: 1px var(--ani-color);
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 400%;
  }

  100% {
    background-position: 0%;
  }
}


/* Hero Section */
.hero {
  background-color: #212121;
  color: #fff;
  padding: 2rem 0;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.hero-content button {
  position: relative;
  left: 48%;
}

.hero h1 {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 1rem;
  width: 50%;
  font-family: 'Clash Display', sans-serif;
}

.hero h2{
  font-family: 'Panchang', sans-serif;
  font-weight: 1000;
  font-size: 6rem;
  width: 50%;
  position: relative;
  top: -10dvh;
  right: 43px;
}

.hero-titles{
  padding-top: 10dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 30dvh;
}

.trusted-by {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.trusted-by img {
  margin: 0 1rem;
}

/* Highlighted Projects Section */
.highlighted-projects {
  background-color: #212121;
  color: #333;
  padding-left: 2rem 0;
}

.highlighted-projects h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.projects {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.project {
  max-width: 300px;
  margin: 0 auto 2rem;
  text-align: center;
}

.project img {
  max-width: 150px;
  height: auto;
  margin-bottom: 1rem;
}

.project h4 {
  margin-bottom: 0.5rem;
}

.project p {
  margin-bottom: 1rem;
}

.project a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project a:hover {
  color: #f3f6ff;
}

/* Contact Section */
.contact {
  background-color: #f4f4f4;
  color: #333;
  padding: 2rem 0;
}

.contact h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.contact form {
  max-width: 500px;
  margin: 0 auto;
}

.contact form label {
  display: block;
  margin-bottom: 0.5rem;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Footer */
footer {
  background-color: #111;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-content nav {
  margin-bottom: 1rem;
}

.footer-content nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}

.footer-content nav a:hover {
  color: #f0a500;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  margin: 0 0.5rem;
}

.social-media img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.social-media img:hover {
  opacity: 0.7;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-content {
    text-align: left;
  }

  .project {
    display: inline-block;
    margin: 1rem;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }
}

/* BUTTONS */

.Btn-hero {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon-hero {
  fill: rgb(214, 178, 255);
}

.icon2-hero {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.tooltip-hero {
  position: absolute;
  right: -110px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip-hero::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: .3s;
}

.Btn-hero:hover .tooltip-hero {
  opacity: 1;
  transition-duration: .3s;
}

.Btn-hero:hover {
  background-color: rgb(150, 94, 255);
  transition-duration: .3s;
}

.Btn-hero:hover .icon2-hero {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn-hero:hover .svgIcon-hero {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}



/* CARDS PROJECTS */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.75rem;
  background-color: white;
  width: 300px;
  box-shadow: 0 4px 6px -1px rgba(109, 103, 103, 0.1),
    0 2px 4px -2px rgba(236, 216, 216, 0.1);
}

.header-card {
  position: relative;
  background-clip: border-box;
  border-radius: 0.75rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 15px -3px rgba(10, 10, 10, 0.4), 0 4px 6px -4px rgba(33, 150, 243, .4);
}

.info-card {
  border: none;
  padding: 1.5rem;
  text-align: center;
}

.title-card {
  color: rgb(38 50 56);
  letter-spacing: 0;
  line-height: 1.375;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.footer-card {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 140, 255, 0.082);
}

.tag {
  font-weight: 300;
  font-size: .75rem;
  display: block;
}

.action {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px -1px rgba(33, 150, 243, .4), 0 2px 4px -2px rgba(33, 150, 243, .4);
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
}

/* CONTATOS */
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}

.example-2 .icon-content .tooltip {
  position: absolute;
  top: 10px;
  right: -25%;
  transform: translateY(-150%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: 6px;
}

.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  color: #4d4d4d;
  background-color: #ffff;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
}

.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.example-2 .icon-content a:hover {
  color: white;
}

.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="spotify"] .filled,
.example-2 .icon-content a[data-social="spotify"]~.tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="pinterest"] .filled,
.example-2 .icon-content a[data-social="pinterest"]~.tooltip {
  background-color: #24262a;
}

.example-2 .icon-content a[data-social="dribbble"] .filled,
.example-2 .icon-content a[data-social="dribbble"]~.tooltip {
  background-color: #06cf06;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
  background: linear-gradient(45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f)
}


/* TIMELINE */

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.timeline-item {
  display: flex;
  margin: 5px 0;
  position: relative;
  width: calc(50% - 20px);
  left: -100px;
  top: 6dvh;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e0e0e0;
  border: 3px solid white;
}

.timeline-item.left {
  justify-content: flex-end;
  right: 30px;
}

.timeline-item.left::before {
  right: -30px;
}

.timeline-item.right {
  justify-content: flex-start;
  left: 100px;
}

.timeline-item.right::before {
  left: -30px;
}

.timeline-content {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  
}

.timeline-content::before {
  content: '';
  position: absolute;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-item.left .timeline-content::before {
  right: -10px;
  border-left: 10px solid #fff;
}

.timeline-item.right .timeline-content::before {
  left: -4%;
  border-right: 10px solid #fff;
}

.timeline h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

.timeline p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}

/* this card is inspired form this - https://georgefrancis.dev/ */
.timeline-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}

.line {
  position: absolute;
  width: 41px;
  height: 165vh;
  background-color: #3f3939;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line img {
  width: 100px;
  position: absolute;
  bottom: -30px;
}

.line .rua{
  position: relative;
  width: 3px;
  height: 500px;
  margin-top: 20px;
  background-color: rgb(255, 225, 52);
}

.timeline {
  background-color: transparent;
}

.card-timeline {
  --border-radius: 0.75rem;
  --primary-color: #7257fa;
  --secondary-color: #3c3852;
  width: 210px;
  font-family: "Arial";
  padding: 1rem;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}

.card-timeline>*+* {
  margin-top: 1.1em;
}

.card-timeline .card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.card-timeline .card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.card-timeline .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

/* hover */
.card-timeline:hover .card__title {
  color: var(--primary-color);
}


/* ENTRAR EM CONTATO */

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

.form-container {
  width: 400px;
  background: linear-gradient(#302f2f, #5e5b5b) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.btn-contact {
  font-family: inherit;
  font-size: 15px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  width: 90px;
}

.btn-contact span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn-contact svg {
  width: 20px;
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn-contact:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-contact:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.btn-contact:hover span {
  transform: translateX(6em);
}

.btn-contact:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


/* CONTACT */

.wrapper {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    position: relative;
    width: 45%;
}
/* switch card */
.switch {
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  gap: 30px;
  width: 50px;
  height: 20px;
}
/* card */ 

.flip-card__inner {
  width: 100%;
  height: 350px;
  position: relative;
  background-color: transparent;
  /* perspective: 1000px; */
    /* width: 100%;
    height: 100%; */
  text-align: center;
  transition: transform 0.8s;
  /* transform-style: preserve-3d; */
}


.flip-card__front {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: lightgrey;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.flip-card__form input[type="text"]{
  height: 20dvh;
}

.title, .title-thank {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

.flip-card__input {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.flip-card__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
} 

.Contact-email{
  height: 100dvh;
  width: 100%;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.congratuilation{
  width: 450px;
}

.title-thank{
  color: #e0e0e0;
  width: 30%;
  font-family: 'Clash Display', sans-serif;
  top: 9dvh;
  left: 5.5%;
  position: relative;
}