@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

.background{
  background: linear-gradient(rgb(23, 204, 231), rgb(91, 228, 243), rgb(179, 240, 255)) ;
  height: 100vh;
}

#nuvens{
  top: 60px;
  position: absolute;
  width: 30%;
  animation: nuvens 15s infinite linear;
}

@keyframes nuvens {
  from{
    right: -40%;
  }
  to{
    right: 100%;
  }
}

#logo{
  width: 20%;
  margin: 20px;
}

#linkContato{
  position: relative;
  left: 40%;
  
}

#imgContato{
  width: 7%;
}

#TituloCargo{
  position: relative;
  left: 9%;
  width: 40%;
}

.sobremim{
  position: relative;
  left: 6.5%;
  background-color: #D84C20;
  padding: 10px;
  padding-left: 18px;
  width: 45%;
  border-top: 7px solid salmon;
  border-left: 7px solid salmon;
  border-right: 7px solid black;
  border-bottom: 7px solid black;
}

#quadrado1, #quadrado2, #quadrado3, #quadrado4{
  width: 10px;
  height: 10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #ffffff;
  position: absolute;
  z-index: 1111;
}

#quadrado1{
  left: 5px;
  top: 5px;
}
#quadrado2{
  left: 5px;
  bottom: 5px;
}
#quadrado3{
  right: 5px;
  top: 5px;
}
#quadrado4{
  right: 5px;
  bottom: 5px;
}

#minhahistoria{
  font-size: 1em;
  color: #ffffff;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  font-weight: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.eu {
  position: absolute;
  top: 25vh;
  right: 150px;  
}

.minhafoto{
  width: 300px;
  height: 37vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
}

.divfundofoto, .divfoto {
  position: absolute;
}

.divfoto img{
  width: 295px;
  border-radius: 10px;
}

.dados{
  position: relative;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dados p{
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 500;
}

.chao_verprojetos{
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
  background-image: url(imgs/chao.png);
  background-repeat: space;
  background-size: 37px;
}

.verprojetos{
  position: absolute;
  bottom: 2.5vh;
  left: 4%;
}

.verprojetos p{
  position: absolute;
  bottom: 10vh;
  width: 200px;
}

#mario{
  width: 70px;
  position: absolute;
  bottom: 2.5vh;
  left: 15%;
  cursor: pointer;
  z-index: 111;
}

.Animação{
  animation: moveImage 3s linear;
}

@keyframes moveImage {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(-80px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-40px);
  }
  100%{
    transform: translateY(100px);
  }
}



.backgrundoProjetosFront{
  background: linear-gradient(rgb(255, 151, 31), rgb(247, 156, 53), rgb(245, 188, 114)) ;
  height: 100vh;
}

#nuvens2{
  top: 60px;
  position: relative;
  width: 30%;
  animation: nuvens 15s infinite linear;
}

@keyframes nuvens {
  from{
    right: -120%;
  }
  to{
    right: 100%;
  }
}

.chao2{
  width: 100%;
  height: 6vh;
  position: absolute;
  bottom: -100vh;
  background-image: url(imgs/chao2.png);
  /* background-repeat: ; */
  background-size: 55px;
}

#Projetos{
  position: absolute;
  left: 5%;
  width: 15%;
  top: 105vh;
}

#Front{
  position: absolute;
  left: 1.3%;
  width: 30%;
  top: 110vh;
}

.projetosfront{
  width: 80%;
  height: 50vh;
  position: absolute;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.projeto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 25%;
}

.trabalho{
  width: 90%;
  height: 30vh;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  background-color: rgb(223, 223, 223);
  border-left: 3px solid white;
  border-top: 3px solid white;
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
  font-weight: 900;
  outline: 2px solid black;
  margin-bottom: 10px;
}

.button:hover {
  background-color: rgb(0, 197, 0);
  color: white;
  outline-color: white;
  border-left: 3px solid rgb(0, 255, 0);
  border-top: 3px solid rgb(0, 255, 0);
  border-right: 3px solid green;
  border-bottom: 3px solid green;
}

.button:active {
  border-left: 3px solid green;
  border-top: 3px solid green;
  border-right: 3px solid rgb(0, 255, 0);
  border-bottom: 3px solid rgb(0, 255, 0);
}

.chao3{
  width: 100%;
  height: 6vh;
  position: absolute;
  bottom: -200vh;
  background-image: url(imgs/chao3.png);
  background-size: 60px;
}

.backgrundoProjetosBack{
  background: linear-gradient(rgb(0, 0, 0), rgb(70, 25, 25), rgb(109, 16, 16)) ;
  height: 100vh;
} 