@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

.background{
  background: linear-gradient(rgb(92, 226, 247), rgb(143, 244, 255), rgb(255, 255, 255)) ;
  height: 100vh;
}

#nuvens{
  top: 60px;
  position: absolute;
  width: 30%;
  animation: nuvens 15s infinite linear;
}

@keyframes nuvens {
  from{
    right: -40%;
  }
  to{
    right: 100%;
  }
}

#logo{
  width: 20%;
  margin: 20px;
}

#linkContato{
  position: relative;
  left: 40%;
  
}

#imgContato{
  width: 7%;
}

#TituloCargo{
  position: relative;
  left: 9%;
  width: 40%;
}

.sobremim{
  position: relative;
  left: 6.5%;
  background-color: #D84C20;
  padding: 10px;
  padding-left: 18px;
  width: 45%;
  border-top: 7px solid salmon;
  border-left: 7px solid salmon;
  border-right: 7px solid black;
  border-bottom: 7px solid black;
}

#quadrado1, #quadrado2, #quadrado3, #quadrado4{
  width: 10px;
  height: 10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #ffffff;
  position: absolute;
  z-index: 1111;
}

#quadrado1{
  left: 5px;
  top: 5px;
}
#quadrado2{
  left: 5px;
  bottom: 5px;
}
#quadrado3{
  right: 5px;
  top: 5px;
}
#quadrado4{
  right: 5px;
  bottom: 5px;
}

#minhahistoria{
  font-size: 1em;
  color: #ffffff;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  font-weight: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.eu {
  position: absolute;
  top: 25vh;
  right: 150px;  
}

.minhafoto{
  width: 300px;
  height: 37vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
}

.divfundofoto, .divfoto {
  position: absolute;
}

.divfoto img{
  width: 295px;
  border-radius: 10px;
}

.dados{
  position: relative;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dados p{
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 500;
}

.chao_verprojetos{
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
  background-image: url(imgs/chao.png);
  background-repeat: space;
  background-size: 55px;
}

.verprojetos{
  position: absolute;
  bottom: 2.5vh;
  left: 4%;
}

.verprojetos p{
  position: absolute;
  bottom: 10vh;
  width: 200px;
}

#mario{
  width: 70px;
  position: absolute;
  bottom: 2.5vh;
  left: 15%;
  cursor: pointer;
  z-index: 111;
}

.Animação{
  animation: moveImage 3s linear;
}

@keyframes moveImage {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(-80px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-40px);
  }
  100%{
    transform: translateY(100px);
  }
}